@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: antiquewhite;
  font-family: var(--local-fonts), "inherit";
}
@layer base {
  p,
  span {
    @apply mt-1; /* Change 'my-4' to whatever margin you need */
  }
}
.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none;
}
